body {
  font-family: "Noto San", sans-serif;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #f3f0f5;
}
::-webkit-scrollbar-thumb {
  background: #914800;
}
::-webkit-scrollbar-thumb:hover {
  background: #522c0c;
}

nav.navbar {
  background-color: #914800 !important;
  padding: 0.5rem 10rem;
  a {
    color: #fff !important;
    div.logo {
      display: flex;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      img {
        width: 50px;
        margin: 0 auto;
      }
      .logo-image {
        font-size: 1rem;
      }
    }
  }
  #navbarTogglerDemo01 {
    background-color: transparent;
    color: #fff !important;
    ul.navbar-nav {
      li.nav-item {
        a.nav-link {
          margin-left: 1em;
          transition: 0.5s;
        }
        a.nav-link:hover {
          transform: scale(1.03);
          color: #222222 !important;
        }
      }
    }
  }
  .active {
    color: #222222 !important;
    border: dotted 1px;
  }

  .book {
    display: none;
  }
  #booknow {
    background-color: #222222;
    align-content: center;
    align-self: center;
    border-radius: 5rem;
    transition: all 0.4s;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.43);
  }
  #booknow:hover {
    background-color: rgb(251, 32, 86);
    align-content: center;
    align-self: center;
    border-radius: 5rem;
    box-shadow: 0px 0px 13px 1px rgba(251, 32, 86, 0.7);
  }
}
.slider {
  width: 100%;

  .sliders {
    width: 100%;
    overflow-y: hidden;
    height: 60rem;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.about {
  .about-inner {
    background: #f4f5f9;
    padding: 3rem;
    margin: 5rem auto;
    .about-header {
      text-align: center;
      font-size: 2rem;
      font-family: "Lato", sans-serif;
      font-weight: lighter;
      margin: 1rem auto;
    }
    .about-text {
      text-align: center;
    }
  }
}

.recents {
  padding: 2rem 1rem;

  .recent-header {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: #fb2056 solid 3px;
  }
  .recent-body {
    margin: 2rem auto;
    color: #4c5863;
    font-size: 1.2rem;
  }

  .recent-images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-height: 60rem;
    .images {
      flex: auto;
      width: 45%;
      margin: 1rem;
      box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.43);
      img {
        padding: 0.5rem;
        width: 100%;
        border-radius: 12px;
      }
    }
  }
}

.video::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #004991;
  opacity: 0.2;
  z-index: 1;
}

.parallax-window {
  margin-top: 5rem;
  height: 30rem;
}
.video {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    z-index: 2;
    font-size: 3rem;
    border: solid 3px white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    transition: 1s all;
  }
  a:hover {
    color: #914800 !important;
    border: solid 3px #914800;
    transform: scale(1.3);
  }
}

.tour {
  background-color: #f4f5f9;
}
.tour1 {
  text-align: center;
  padding: 3rem;
}
.tour-header {
  font-size: 1.5rem;
  color: rgb(142, 142, 142);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 1rem;
  border-bottom: #fb2056 solid 2.5px;
  display: inline-block;
}
.tour-slider {
  position: relative;
}

.tour-slides {
  display: flex !important;
  align-content: center;
  justify-content: center;
  width: 100%;
  align-self: center;
  min-height: 10rem;
  img {
    width: 80%;
    align-self: center;
  }
}

.navigators {
  position: absolute;
  font-size: 1em;
  color: #004991;
  font-weight: lighter;
  top: 40%;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 1s;
  svg {
    align-self: center;
  }
}
.navigators:hover {
  opacity: 1;
  color: #fb2056;
  transform: scale3d(2);
}
.nav-left {
  position: absolute;
  left: -2%;
  z-index: 20;
}
.nav-right {
  position: absolute;
  right: -2%;
  z-index: 20;
}

.slider-navigators {
  position: absolute;
  font-size: 1em;
  color: #004991;
  font-weight: lighter;
  top: 40%;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 20px;
  height: 60px;
  opacity: 0.2;
  transition: all 1s;
  svg {
    align-self: center;
  }
}
.slider-navigators:hover {
  opacity: 1;
  color: #004991;
  transform: scale3d(2);
}
.slider-nav-left {
  position: absolute;
  left: 0.3%;
  z-index: 20;
}
.slider-nav-right {
  position: absolute;
  right: 0.3%;
  z-index: 20;
}
.button {
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #fb2056;
  padding: 0.8rem 2.2rem;
  font-size: 0.8rem;
  border-radius: 2em;
  letter-spacing: 1.6px;
  transition: all 0.4s ease-in-out;
}
.button:hover {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1.6px;
  background-color: #222222;
}
.icons {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #000;
  padding: 0.2rem;
  .icons-main {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  a {
    svg {
      justify-self: center;
      align-self: center;
    }
  }
}

.s-icons {
  width: 2.5em;
  height: 2.5em;
  margin: 0.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #fd5e29;
  font-size: 1.1rem;
  background-color: #3b4f68;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 0.3s;
}
.s-icons:hover {
  text-decoration: none;
  color: unset;
}
.s-icons:hover svg {
  transform: scale(1.14);
}

.fb:hover {
  background-color: #3b5998;
  color: #fff;
}
.tw:hover {
  background-color: #1da1f2;
  color: #fff;
}
.ig:hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
  radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
  radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
  radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
  radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
  radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
  radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
  linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);  
  color: #fff;
}
.wh:hover {
  background-color: #25d366;
  color: #fff;
}

.footer {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 2rem;
}
.footer1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}
.footer-logo {
  position: absolute;
  left: 10%;
  top: -35%;
  width: 5em;
  img {
    width: 100%;
    height: auto;
  }
}
.footer-add {
  font-size: 1.1rem;
  line-height: 1.7em;
  text-align: center;

  .footer1a span {
    margin: 0.5rem;
  }
}

.footer2 {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: -1.5rem;
  font-size: 0.9rem;
}

.about-a {
  margin: 0;
  height: 25rem;
  background-image: url("../images/cam1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  div {
    font-family: "Lato", sans-serif !important;
    color: #fff;
    font-weight: 300;
    font-size: 4em;
  }
}

.about-b {
}

.about-b1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  font-family: "Lato", sans-serif !important;
  font-weight: 300 !important;
  padding: 6rem 3.5rem;
  margin-top: -3em;
  font-size: 18px;
  h2 {
    font-weight: 300 !important;
    text-align: left !important;
    margin-left: 5rem;
    font-size: 35px !important;
    color: rgba(0, 0, 0, 0.7);
  }
}
.about-c {
  background-color: rgba(145, 72, 0, 0.04);
  margin: 2em auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5em 3em;
  font-family: "Lato", sans-serif !important;

  .a-c1 {
    width: 95%;
    margin: 0 auto;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .a-c2{
      position: relative;
      padding: 10px 50px;

      &::before{
        content: "";
        width: 150px;
        height: 3px;
        top: 0px;
        left: 30px;
        position: absolute;
        background-color: #fe9004;
    }
    &::after{
        content: "";
        width: 7px;
        height: 150px;
        bottom: 0;
        right: 0;
        position: absolute;
        background-color: #fe9004;
    }
    .a-c5{
        font-size: 2.5rem;
        font-weight: bold;
        line-height: unset;
    }
    .a-c3{
        font-weight: 400;
        font-size: 1.1em;
        margin-top: -5px;
        margin-bottom: 20px;
    }
    .a-c4{
        text-align: center;
    }
    .a-c6{
        margin-top: 2rem;
        .a-c7{
            a{
                display: inline-block;
                color: #fe9004;
                margin: 6px;
                animation: all 1s;
                font-size: 1.3em;
                &:hover{
                    color: #222222;
                }
            }
        }
    }    
}
}

section.about-d{
    padding: 4rem 0;
    font-family: "Lato", sans-serif !important;
    .a-d2{
        font-size: 2.5rem;
        font-family: "Lato", sans-serif !important;
        margin-bottom: 30px;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            height: 1.5px;
            width: 5%;
            background-color: #7f7f7f;
        }
    }
    .a-d31{
      display: flex;
      flex-flow: row wrap;
    }
    .a-d3{
        // border: 1px solid rgba(0, 0, 0, 0.125);
        width: 30%;
        -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.25);
        border-radius: 15px;
        margin: 1em !important;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
        height: 430px;
        .a-d4{
            .a-d5{
                width: 100%;
                height: 200px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .a-d6{
        padding: 0  13px 25px 13px;
        .a-d7{
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          .a-d7a{
            margin-top: -15px;
            border: solid #fff 4px;
            box-sizing: content-box;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            img{
              width: 100%;
              height: auto;
            }
          }
          .a-d7b{
            padding: 5px;
            .a-d7b1{
              display: flex;
              align-content: center;
              flex-flow: row nowrap;
              vertical-align: middle;
              div:nth-child(1){
                font-family: "Noto San", sans-serif;
                font-weight: bold;

              }
              :nth-child(2){
                  display: flex;
                  justify-items: center;
                  align-content: center;
                  border-radius: 7px;
                  background-clip: text;
                  height: 20px;
                  width: 20px;
                  font-size: 20px;
                  margin-left: 5px;
                  svg{
                    color: #61749e;
                    margin: 0 auto;
                    align-self: center;
                    margin-top: 4px;
                    &:hover{
                      color: #111;
                    }
                  }
              }
            }
            .a-d7b2{
              font-weight: normal;
              font-size: 11px;
              color: #aaaaaa;
              font-family: "Noto San", sans-serif;
            }
          }
        }
        .a-d8{
          text-align: left;
          margin-top: 9px;
    padding: 10px;
        }
    }
}
.navigators1 {
    position: absolute;
    font-size: 1em;
    color: #434343;
    font-weight: lighter !important;
    top: 40%;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    opacity: 1;
    transition: all 1s;
    border: #bdbdbd 0.5px solid;
    svg {
    font-weight: lighter !important;
    align-self: center;
    }
  }
  .navigators1:hover {
    color: #fb2056;
    transform: scale3d(2);
  }
  .nav-left1 {
    position: absolute;
    left: -5%;
    z-index: 20;
  }
  .nav-right1 {
    position: absolute;
    right: -5%;
    z-index: 20;
  }
  .service-a {
    margin: 0;
    height: 25rem;
    background-image: url("../images/cam3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    div {
      font-family: "Lato", sans-serif !important;
      color: #fff;
      font-weight: 300;
      font-size: 4em;
    }
  }
  .service-b{
    padding: 100px 100px;
    background: #f8f9fa;
    .service-b1{
      column-count: 3;
      column-gap: 20px;

      .serv-b2{
        position: relative !important;
        overflow: hidden;
        margin-bottom: 20px;

        img{
          width: 100%;
          height: auto;
          border-radius: 0.25rem;
          filter: grayscale(20%);
          transition: transform 1s, filter 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        }

        &:hover img{
          transform: scale(1.1);
          filter: grayscale(0%);
        }
        .serv-b3{
          text-decoration: none;
          color: white;
          font-weight: bold;
          font-size: 2rem;
          position: absolute;
          bottom: 7%;
          left: 10%;
        }
      }
    }
  }
  
  .project-a{
    background-image: url("../images/cam6.jpg");
  }

  .proj-ba{
    padding: calc(100vh/10) calc(100vw/15);
  }

  .proj-b1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 80px 0px;
  }
.proj-b1a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .proj-b2{
    position: relative;
    width: 270px;
    height: 270px;
    // border: sienna solid 2px;

    &:hover{

      div:nth-child(1){
        transform: rotate(0deg);
        filter: grayscale(0);
        transform: scale(0.6) translate(-100px, -100px);
      }
      div:nth-child(2){
        transform: rotate(0deg);
        filter: grayscale(0);
        transform: scale(0.6) translate(100px,-100px);
      }
      div:nth-child(3){
        filter: grayscale(0);
        transform: rotate(0deg);
        transform: scale(0.6) translate(-100px, 100px);
      }
      div:nth-child(4){
        transform: rotate(20deg);
        filter: grayscale(0);
        transform: scale(0.6) translate(100px, 100px);
      }
      }
    .proj-b3{
      position: absolute;
      top: 10%;
      left: 11%;
      height: 200px;
      width: 200px;
      overflow: hidden;
      padding: 1px;
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
      background-color: white;
      transition: transform 1.3s, z-index 2s, filter 2s;
      img{
        width: 100%;
        height: auto;
        border-radius: 2px;
      }
    }
    div:nth-child(1){
      transform: rotate(-10deg);
      filter: grayscale(70%);
    }
    div:nth-child(2){
      transform: rotate(10deg);
      filter: grayscale(70%);
    }
    div:nth-child(3){
      filter: grayscale(70%);
      transform: rotate(-20deg);
    }
    div:nth-child(4){
      transform: rotate(0deg);
      // filter: grayscale(40%);
    }
  }

  .proj-b4{
    font-family: "Lato", sans-serif;

    a{
      .proj-b5{
        text-align: center;
        font-size: 30px;
        color: rgb(107, 107, 107);
        transition: all 0.5s;
      }
      &:hover, &:hover .proj-b5{
        text-decoration: none;
        color: rgb(45, 45, 45) !important;
      }
      
    }
    .proj-b6{
      text-align: center;
      color: rgb(107, 107, 107);
      font-size: 14px;
      margin-top: -5px;
    }
  }






























@media (max-width: 990px) {
  nav.navbar {
    background-color: #914800 !important;
    padding: 0.2rem 1rem;
    a {
      color: #fff !important;
      div.logo {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        img {
          width: 40px;
          margin: 0 auto;
        }
        .logo-image {
          font-size: 1rem;
        }
      }
    }
    #navbarTogglerDemo01 {
      background-color: transparent;
      color: #fff !important;
      ul.navbar-nav {
        li.nav-item {
          a.nav-link {
            margin-left: 1em;
            transition: 0.5s;
          }
          a.nav-link:hover {
            transform: scale(1.03);
            color: #222222 !important;
          }
        }
      }
    }
    .book {
      font-size: 1em;
      color: #222222;
      top: 40%;
      background-color: rgb(154, 77, 11);
      box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.43);
      text-align: center;
      align-self: center;
      display: flex;
      justify-content: center;
      align-content: center;
      width: 40px;
      height: 40px;
      margin-left: auto;
      margin-right: 1rem;
      border-radius: 50%;
      transition: all 2s;
      svg {
        align-self: center;
      }
    }
    .book:hover {
      background-color: #522c0c;
    }
    #booknow {
      background-color: #222222;
      align-content: center;
      align-self: center;
      border-radius: 5rem;
      transition: all 0.4s;
      transition-timing-function: linear;
      display: none;
    }
    #booknow:hover {
      background-color: #fb2056;
      align-content: center;
      align-self: center;
      border-radius: 5rem;
    }
  }

  .slider {
    width: 100%;
    position: relative;
    .sliders {
      width: 100%;
      overflow-y: hidden;
      height: 40vh;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .about .about-inner {
    margin: 0 auto 1rem 0;
  }

  .recents {
    padding-bottom: 0;
  }
  .recents .recent-images {
    margin-top: 1rem;
    margin-left: 0;
    max-height: 40rem;
    padding-bottom: 0;
  }
  .footer1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .footer-logo {
    position: unset;
    order: 2;
    margin-top: 1rem;
    margin-bottom: -1rem;
  }
  .footer-add {
    order: 1;
  }
}
