body {
  font-family: "Noto San", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f3f0f5;
}

::-webkit-scrollbar-thumb {
  background: #914800;
}

::-webkit-scrollbar-thumb:hover {
  background: #522c0c;
}

nav.navbar {
  background-color: #914800 !important;
  padding: 0.5rem 10rem;
}

nav.navbar a {
  color: #fff !important;
}

nav.navbar a div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav.navbar a div.logo img {
  width: 50px;
  margin: 0 auto;
}

nav.navbar a div.logo .logo-image {
  font-size: 1rem;
}

nav.navbar #navbarTogglerDemo01 {
  background-color: transparent;
  color: #fff !important;
}

nav.navbar #navbarTogglerDemo01 ul.navbar-nav li.nav-item a.nav-link {
  margin-left: 1em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav.navbar #navbarTogglerDemo01 ul.navbar-nav li.nav-item a.nav-link:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  color: #222222 !important;
}

nav.navbar .active {
  color: #222222 !important;
  border: dotted 1px;
}

nav.navbar .book {
  display: none;
}

nav.navbar #booknow {
  background-color: #222222;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 5rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.43);
          box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.43);
}

nav.navbar #booknow:hover {
  background-color: #fb2056;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 5rem;
  -webkit-box-shadow: 0px 0px 13px 1px rgba(251, 32, 86, 0.7);
          box-shadow: 0px 0px 13px 1px rgba(251, 32, 86, 0.7);
}

.slider {
  width: 100%;
}

.slider .sliders {
  width: 100%;
  overflow-y: hidden;
  height: 60rem;
}

.slider .sliders img {
  width: 100%;
  height: auto;
}

.about .about-inner {
  background: #f4f5f9;
  padding: 3rem;
  margin: 5rem auto;
}

.about .about-inner .about-header {
  text-align: center;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  margin: 1rem auto;
}

.about .about-inner .about-text {
  text-align: center;
}

.recents {
  padding: 2rem 1rem;
}

.recents .recent-header {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: #fb2056 solid 3px;
}

.recents .recent-body {
  margin: 2rem auto;
  color: #4c5863;
  font-size: 1.2rem;
}

.recents .recent-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-height: 60rem;
}

.recents .recent-images .images {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  width: 45%;
  margin: 1rem;
  -webkit-box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.43);
          box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.43);
}

.recents .recent-images .images img {
  padding: 0.5rem;
  width: 100%;
  border-radius: 12px;
}

.video::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #004991;
  opacity: 0.2;
  z-index: 1;
}

.parallax-window {
  margin-top: 5rem;
  height: 30rem;
}

.video {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video a {
  z-index: 2;
  font-size: 3rem;
  border: solid 3px white;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff !important;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.video a:hover {
  color: #914800 !important;
  border: solid 3px #914800;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.tour {
  background-color: #f4f5f9;
}

.tour1 {
  text-align: center;
  padding: 3rem;
}

.tour-header {
  font-size: 1.5rem;
  color: #8e8e8e;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 1rem;
  border-bottom: #fb2056 solid 2.5px;
  display: inline-block;
}

.tour-slider {
  position: relative;
}

.tour-slides {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  min-height: 10rem;
}

.tour-slides img {
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigators {
  position: absolute;
  font-size: 1em;
  color: #004991;
  font-weight: lighter;
  top: 40%;
  background-color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.5;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navigators svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigators:hover {
  opacity: 1;
  color: #fb2056;
  -webkit-transform: scale3d(2);
          transform: scale3d(2);
}

.nav-left {
  position: absolute;
  left: -2%;
  z-index: 20;
}

.nav-right {
  position: absolute;
  right: -2%;
  z-index: 20;
}

.slider-navigators {
  position: absolute;
  font-size: 1em;
  color: #004991;
  font-weight: lighter;
  top: 40%;
  background-color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 20px;
  height: 60px;
  opacity: 0.2;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.slider-navigators svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.slider-navigators:hover {
  opacity: 1;
  color: #004991;
  -webkit-transform: scale3d(2);
          transform: scale3d(2);
}

.slider-nav-left {
  position: absolute;
  left: 0.3%;
  z-index: 20;
}

.slider-nav-right {
  position: absolute;
  right: 0.3%;
  z-index: 20;
}

.button {
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #fb2056;
  padding: 0.8rem 2.2rem;
  font-size: 0.8rem;
  border-radius: 2em;
  letter-spacing: 1.6px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button:hover {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1.6px;
  background-color: #222222;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #000;
  padding: 0.2rem;
}

.icons .icons-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.icons a svg {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.s-icons {
  width: 2.5em;
  height: 2.5em;
  margin: 0.5em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fd5e29;
  font-size: 1.1rem;
  background-color: #3b4f68;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 0.3s;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 0.3s;
}

.s-icons:hover {
  text-decoration: none;
  color: unset;
}

.s-icons:hover svg {
  -webkit-transform: scale(1.14);
          transform: scale(1.14);
}

.fb:hover {
  background-color: #3b5998;
  color: #fff;
}

.tw:hover {
  background-color: #1da1f2;
  color: #fff;
}

.ig:hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), -webkit-gradient(linear, left top, left bottom, from(#6559ca), color-stop(30%, #bc318f), color-stop(50%, #e33f5f), color-stop(70%, #f77638), to(#fec66d));
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  color: #fff;
}

.wh:hover {
  background-color: #25d366;
  color: #fff;
}

.footer {
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 2rem;
}

.footer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer-logo {
  position: absolute;
  left: 10%;
  top: -35%;
  width: 5em;
}

.footer-logo img {
  width: 100%;
  height: auto;
}

.footer-add {
  font-size: 1.1rem;
  line-height: 1.7em;
  text-align: center;
}

.footer-add .footer1a span {
  margin: 0.5rem;
}

.footer2 {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: -1.5rem;
  font-size: 0.9rem;
}

.about-a {
  margin: 0;
  height: 25rem;
  background-image: url("../images/cam1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
}

.about-a div {
  font-family: "Lato", sans-serif !important;
  color: #fff;
  font-weight: 300;
  font-size: 4em;
}

.about-b1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "Lato", sans-serif !important;
  font-weight: 300 !important;
  padding: 6rem 3.5rem;
  margin-top: -3em;
  font-size: 18px;
}

.about-b1 h2 {
  font-weight: 300 !important;
  text-align: left !important;
  margin-left: 5rem;
  font-size: 35px !important;
  color: rgba(0, 0, 0, 0.7);
}

.about-c {
  background-color: rgba(145, 72, 0, 0.04);
  margin: 2em auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5em 3em;
  font-family: "Lato", sans-serif !important;
}

.about-c .a-c1 {
  width: 95%;
  margin: 0 auto;
  height: auto;
}

.about-c .a-c1 img {
  width: 100%;
  height: auto;
}

.about-c .a-c2 {
  position: relative;
  padding: 10px 50px;
}

.about-c .a-c2::before {
  content: "";
  width: 150px;
  height: 3px;
  top: 0px;
  left: 30px;
  position: absolute;
  background-color: #fe9004;
}

.about-c .a-c2::after {
  content: "";
  width: 7px;
  height: 150px;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: #fe9004;
}

.about-c .a-c2 .a-c5 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: unset;
}

.about-c .a-c2 .a-c3 {
  font-weight: 400;
  font-size: 1.1em;
  margin-top: -5px;
  margin-bottom: 20px;
}

.about-c .a-c2 .a-c4 {
  text-align: center;
}

.about-c .a-c2 .a-c6 {
  margin-top: 2rem;
}

.about-c .a-c2 .a-c6 .a-c7 a {
  display: inline-block;
  color: #fe9004;
  margin: 6px;
  -webkit-animation: all 1s;
          animation: all 1s;
  font-size: 1.3em;
}

.about-c .a-c2 .a-c6 .a-c7 a:hover {
  color: #222222;
}

section.about-d {
  padding: 4rem 0;
  font-family: "Lato", sans-serif !important;
}

section.about-d .a-d2 {
  font-size: 2.5rem;
  font-family: "Lato", sans-serif !important;
  margin-bottom: 30px;
  position: relative;
}

section.about-d .a-d2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 1.5px;
  width: 5%;
  background-color: #7f7f7f;
}

section.about-d .a-d31 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

section.about-d .a-d3 {
  width: 30%;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 1em !important;
  overflow: hidden;
  background-color: white;
  height: 430px;
}

section.about-d .a-d3 .a-d4 .a-d5 {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

section.about-d .a-d3 .a-d4 .a-d5 img {
  width: 100%;
  height: auto;
}

section.about-d .a-d6 {
  padding: 0  13px 25px 13px;
}

section.about-d .a-d6 .a-d7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.about-d .a-d6 .a-d7 .a-d7a {
  margin-top: -15px;
  border: solid #fff 4px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

section.about-d .a-d6 .a-d7 .a-d7a img {
  width: 100%;
  height: auto;
}

section.about-d .a-d6 .a-d7 .a-d7b {
  padding: 5px;
}

section.about-d .a-d6 .a-d7 .a-d7b .a-d7b1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  vertical-align: middle;
}

section.about-d .a-d6 .a-d7 .a-d7b .a-d7b1 div:nth-child(1) {
  font-family: "Noto San", sans-serif;
  font-weight: bold;
}

section.about-d .a-d6 .a-d7 .a-d7b .a-d7b1 :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 7px;
  background-clip: text;
  height: 20px;
  width: 20px;
  font-size: 20px;
  margin-left: 5px;
}

section.about-d .a-d6 .a-d7 .a-d7b .a-d7b1 :nth-child(2) svg {
  color: #61749e;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 4px;
}

section.about-d .a-d6 .a-d7 .a-d7b .a-d7b1 :nth-child(2) svg:hover {
  color: #111;
}

section.about-d .a-d6 .a-d7 .a-d7b .a-d7b2 {
  font-weight: normal;
  font-size: 11px;
  color: #aaaaaa;
  font-family: "Noto San", sans-serif;
}

section.about-d .a-d6 .a-d8 {
  text-align: left;
  margin-top: 9px;
  padding: 10px;
}

.navigators1 {
  position: absolute;
  font-size: 1em;
  color: #434343;
  font-weight: lighter !important;
  top: 40%;
  background-color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  border: #bdbdbd 0.5px solid;
}

.navigators1 svg {
  font-weight: lighter !important;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigators1:hover {
  color: #fb2056;
  -webkit-transform: scale3d(2);
          transform: scale3d(2);
}

.nav-left1 {
  position: absolute;
  left: -5%;
  z-index: 20;
}

.nav-right1 {
  position: absolute;
  right: -5%;
  z-index: 20;
}

.service-a {
  margin: 0;
  height: 25rem;
  background-image: url("../images/cam3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
}

.service-a div {
  font-family: "Lato", sans-serif !important;
  color: #fff;
  font-weight: 300;
  font-size: 4em;
}

.service-b {
  padding: 100px 100px;
  background: #f8f9fa;
}

.service-b .service-b1 {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.service-b .service-b1 .serv-b2 {
  position: relative !important;
  overflow: hidden;
  margin-bottom: 20px;
}

.service-b .service-b1 .serv-b2 img {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
  -webkit-filter: grayscale(20%);
          filter: grayscale(20%);
  -webkit-transition: -webkit-transform 1s, -webkit-filter 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 1s, -webkit-filter 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 1s, filter 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 1s, filter 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 1s, -webkit-filter 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.service-b .service-b1 .serv-b2:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.service-b .service-b1 .serv-b2 .serv-b3 {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  position: absolute;
  bottom: 7%;
  left: 10%;
}

.project-a {
  background-image: url("../images/cam6.jpg");
}

.proj-ba {
  padding: calc(100vh/10) calc(100vw/15);
}

.proj-b1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 80px 0px;
}

.proj-b1a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proj-b2 {
  position: relative;
  width: 270px;
  height: 270px;
}

.proj-b2:hover div:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(0.6) translate(-100px, -100px);
          transform: scale(0.6) translate(-100px, -100px);
}

.proj-b2:hover div:nth-child(2) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(0.6) translate(100px, -100px);
          transform: scale(0.6) translate(100px, -100px);
}

.proj-b2:hover div:nth-child(3) {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform: scale(0.6) translate(-100px, 100px);
          transform: scale(0.6) translate(-100px, 100px);
}

.proj-b2:hover div:nth-child(4) {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(0.6) translate(100px, 100px);
          transform: scale(0.6) translate(100px, 100px);
}

.proj-b2 .proj-b3 {
  position: absolute;
  top: 10%;
  left: 11%;
  height: 200px;
  width: 200px;
  overflow: hidden;
  padding: 1px;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
  background-color: white;
  -webkit-transition: z-index 2s, -webkit-transform 1.3s, -webkit-filter 2s;
  transition: z-index 2s, -webkit-transform 1.3s, -webkit-filter 2s;
  transition: transform 1.3s, z-index 2s, filter 2s;
  transition: transform 1.3s, z-index 2s, filter 2s, -webkit-transform 1.3s, -webkit-filter 2s;
}

.proj-b2 .proj-b3 img {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.proj-b2 div:nth-child(1) {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
}

.proj-b2 div:nth-child(2) {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
}

.proj-b2 div:nth-child(3) {
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.proj-b2 div:nth-child(4) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.proj-b4 {
  font-family: "Lato", sans-serif;
}

.proj-b4 a .proj-b5 {
  text-align: center;
  font-size: 30px;
  color: #6b6b6b;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.proj-b4 a:hover, .proj-b4 a:hover .proj-b5 {
  text-decoration: none;
  color: #2d2d2d !important;
}

.proj-b4 .proj-b6 {
  text-align: center;
  color: #6b6b6b;
  font-size: 14px;
  margin-top: -5px;
}

@media (max-width: 990px) {
  nav.navbar {
    background-color: #914800 !important;
    padding: 0.2rem 1rem;
  }
  nav.navbar a {
    color: #fff !important;
  }
  nav.navbar a div.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav.navbar a div.logo img {
    width: 40px;
    margin: 0 auto;
  }
  nav.navbar a div.logo .logo-image {
    font-size: 1rem;
  }
  nav.navbar #navbarTogglerDemo01 {
    background-color: transparent;
    color: #fff !important;
  }
  nav.navbar #navbarTogglerDemo01 ul.navbar-nav li.nav-item a.nav-link {
    margin-left: 1em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  nav.navbar #navbarTogglerDemo01 ul.navbar-nav li.nav-item a.nav-link:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    color: #222222 !important;
  }
  nav.navbar .book {
    font-size: 1em;
    color: #222222;
    top: 40%;
    background-color: #9a4d0b;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.43);
            box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.43);
    text-align: center;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: 1rem;
    border-radius: 50%;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  nav.navbar .book svg {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  nav.navbar .book:hover {
    background-color: #522c0c;
  }
  nav.navbar #booknow {
    background-color: #222222;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 5rem;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    display: none;
  }
  nav.navbar #booknow:hover {
    background-color: #fb2056;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 5rem;
  }
  .slider {
    width: 100%;
    position: relative;
  }
  .slider .sliders {
    width: 100%;
    overflow-y: hidden;
    height: 40vh;
  }
  .slider .sliders img {
    width: 100%;
    height: auto;
  }
  .about .about-inner {
    margin: 0 auto 1rem 0;
  }
  .recents {
    padding-bottom: 0;
  }
  .recents .recent-images {
    margin-top: 1rem;
    margin-left: 0;
    max-height: 40rem;
    padding-bottom: 0;
  }
  .footer1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .footer-logo {
    position: unset;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 1rem;
    margin-bottom: -1rem;
  }
  .footer-add {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
/*# sourceMappingURL=style.css.map */